---
interface Props {
  headers: string[];
}

const { headers } = Astro.props;
---

<div class="admin-table-wrap">
  <table class="admin-table">
    <thead>
      <tr>
        {headers.map((header) => <th>{header}</th>)}
      </tr>
    </thead>
    <tbody>
      <slot />
    </tbody>
  </table>
</div>
