---
import LoginForm from './LoginForm.astro';
import LoginHero from './LoginHero.astro';
---

<main class="login-screen">
  <LoginHero />
  <LoginForm />
</main>

<script>
  import { initLogin } from '../scripts/login';

  initLogin();
</script>
